.site-header,.input{
  background: #2B3844;
}
.site-title, .dark-mode-button, .search::placeholder,.region, .region::placeholder{
  color: #FFFFFF;
}
.dark-mode-button::before{
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url("../img/dark-mode2.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
}
main{
  background: #202C36;;
}
.search{
  width: 480px;
  padding-left: 76px;
  background-image: url("../img/search-dark.png");
  background-repeat: no-repeat;
  background-position: 32px center;
  color: #FFFFFF;
}
.flag-link{
  background: #2B3844;
  color: #FFFFFF;
}