/* FONTS */
/* nunito-sans-300 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/nunito-sans-v6-latin-300.eot'); /* IE9 Compat Modes */
  src: 
       url('../fonts/nunito-sans-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans-v6-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans-v6-latin-300.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: 
       url('../fonts/nunito-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans-v6-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-600 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/nunito-sans-v6-latin-600.eot'); /* IE9 Compat Modes */
  src: 
       url('../fonts/nunito-sans-v6-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans-v6-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans-v6-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans-v6-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans-v6-latin-600.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-800 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nunito-sans-v6-latin-800.eot'); /* IE9 Compat Modes */
  src: 
       url('../fonts/nunito-sans-v6-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans-v6-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans-v6-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans-v6-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans-v6-latin-800.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

/* COMMON STYLES */
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #111517;
  background-color: #F2F2F2;
}
img{
  display: block;
  max-width: 100%;
}
.container{
  max-width: 1360px;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}
.site-header{
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 23px;
  color: #111517;
}
.site-title{
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #111517;
}
.dark-mode-button{
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.dark-mode-button::before{
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url("../img/dark-mode.png");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center center;
}

/* MAIN */
main{
  background: #F2F2F2;
}
.main-container{
  padding-top: 48px;
  padding-bottom: 48px;
}
.search-form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}
.input{
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 18px;
  border: none;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
}
.search{
  width: 480px;
  padding-left: 76px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 32px center;
}
.search::placeholder{
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #848484;
}
.region{
  width: 200px;
  padding-left: 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
   color: #111517;
}

/* flags */
.flag-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 264px);
  gap: 70px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.flag-item{
  width: 264px;
}
.flag-link{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  background: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  color: #111517;
}
.flag-img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
}
.flag-info-box{
  padding: 24px;
}
.flag-name{
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
}
.flag-data{
  margin-top: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.flag-data:not(:last-child){
  margin-bottom: 8px;
}
.flag-data span{
  opacity: 0.7;
}